//output: index.html
doctype
html(lang="no")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="theme-color" content="#cc3702")
    meta(name="Description" content="Mobilstpillet, Terningspillet hudre. Det er om å gjøre å være først til å nå hundre, men pass på, triller du 1 mister du rundens poeng.")
    
    // IOS WebApp
    meta(name="apple-mobile-web-app-title" content="Terningspill")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="white")
    
    //IOS icon
    link( rel="apple-touch-icon" href="assets/ico/ios/icon/touch-icon-iphone.png")
    link( rel="apple-touch-icon" sizes="152x152" href="assets/ico/ios/icon/touch-icon-ipad.png")
    link( rel="apple-touch-icon" sizes="180x180" href="assets/ico/ios/icon/touch-icon-iphone-retina.png")
    link( rel="apple-touch-icon" sizes="167x167" href="assets/ico/ios/icon/touch-icon-ipad-retina.png")
    
    //Splash screens ios
    link(href="assets/ico/ios/splash/apple_splash_2048.png" sizes="2048x2732" rel="apple-touch-startup-image")
    link(href="assets/ico/ios/splash/apple_splash_1668.png" sizes="1668x2224" rel="apple-touch-startup-image")
    link(href="assets/ico/ios/splash/apple_splash_1536.png" sizes="1536x2048" rel="apple-touch-startup-image")
    link(href="assets/ico/ios/splash/apple_splash_1125.png" sizes="1125x2436" rel="apple-touch-startup-image")
    link(href="assets/ico/ios/splash/apple_splash_1242.png" sizes="1242x2208" rel="apple-touch-startup-image")
    link(href="assets/ico/ios/splash/apple_splash_750.png" sizes="750x1334" rel="apple-touch-startup-image")
    link(href="assets/ico/ios/splash/apple_splash_640.png" sizes="640x1136" rel="apple-touch-startup-image")
    
    link(rel="stylesheet" type="text/css" href="assets/css/main.min.css")
    link(rel="shortcut icon" href="assets/ico/favicon.ico" type="image/x-icon")
    link(rel="icon" href="assets/ico/favicon.ico" type="image/x-icon")
    link(rel="manifest" href="manifest.json")
    title Terningspill
  body
    //.menu.menu0
    #dice.dice.one
    //button(onClick="setDice(rollDice());closeSettings();").rollDice#rollDice Trill terning
    //button(onClick="hold(current);").hold Behold
    
    .settingsButton
      .menuButton
      button(onClick="resetGame(isDone);").newGame Nytt spill
      button(onClick="showSettings()") Innstillinger
      //button(href="sms:+123456789&body=Prøv-terningspillet-hundre.-arnstad.gitlab.io/terningspill/") Del-&
      //button(href="sms:+123456789?body=Prøv-terningspillet-hundre.-arnstad.gitlab.io/terningspill/") Del-?
      //button(href="sms:+123456789;body=Prøv-terningspillet-hundre.-arnstad.gitlab.io/terningspill/") Del-;
    .settings
      input(placeholder="Spiller 1")#player0Name
      input(placeholder="Spiller 2")#player1Name
      .gameDiff#gameDiff
        .easy.diff
          p Lett
        .medium.diff
          p Middels
        .hard.diff
          p Vanskelig
      .gameMode
        .checkbox
          .i
        .lable Enspiller
      input(placeholder="Mål")#goal  
      button(onClick="welcomeScreen()") Instruksjoner
      button(onClick="closeSettings();saveSetting();").settingsClose Lukk
      
    
    .grid
      .player.player0.active
        .name.nameOne#player0 Spiller 1
        .score.score0 0
        .current.current0 
          span Runde
          p.currentScore 0
          
      .player.player1.passive
        .name.nameTwo#player1 Spiller 2
        .score.score1 0
        .current.current1 
          span Runde
          p.currentScore 0
        
    script(src="assets/js/game.js" type="text/javascript")
