//output: pigGame.html
html(manifest="cache.manifest" type="text/manifest")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    link(rel="apple-touch-icon" href="assets/ico/apple-touch-icon.png")
    link(rel="apple-touch-startup-image" href="assets/ico/launchScreen.png")
    link(rel="apple-touch-startup-image" href="assets/ico/launchScreen_6.png")
    link(rel="apple-touch-startup-image" href="assets/ico/launchScreen_8plus.png")
    meta(name="apple-mobile-web-app-title" content="Terningspill")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="assets/css/main.css")
    title Terningspill
  body
    .menu.menu0
      button(onClick="resetGame()").newGame Ny runde
      .dice.one
      button(onClick="setDice(rollDice())").rollDice#rollDice Trill terning
      button(onClick="hold(current)").hold Behold
    
    .settingsButton.open
      button(onClick="showSettings()") Innstillinger
    .settings.close
      input(placeholder="Spiller 1")#player0Name
      input(placeholder="Spiller 2")#player1Name
      input(placeholder="Mål")#goal
      button(onClick="saveSetting()").submitt Lagre
      button(onClick="closeSettings()") Lukk
      
    
    .grid
      .player.player0.active
        .name.nameOne#player0 Spiller 1
        .score.score0 0
        .current.current0 
          span Runde
          p.currentScore 0
          
      .player.player1.passive
        .name.nameTwo#player1 Spiller 2
        .score.score1 0
        .current.current1 
          span Runde
          p.currentScore 0
        
    script(src="assets/js/section4/pigGame.js" type="text/javascript")
