$res-small: 'max-width: 420px'
$res-medium: 'max-width: 680px'
$res-large: 'max-width: 900px'

$font: 'Roboto', 'Helvetica', sans-serif

$mainOne: orangered
$backgroundColor: darken(white, 3%)
$mainOneDark: darken($mainOne, 10%)
$mainOneLight: lighten($mainOne, 35%)
$containerColor: darken(white, 5%)
$activeOne: fade-out($mainOne, .85)

$fontColor: darken(white, 70%)

$mainTwo: cadetblue
$activeTwo: fade-out($mainTwo, .85)
$mainTwoDark: darken($mainTwo, 10%)
$mainTwoLight: lighten($mainTwo, 35%)

body
  h1,
  h2,
  h3,
  h4
    text-transform: uppercase

  display: grid
  grid-template-rows: auto
  grid-gap: 20px
  justify-items: center
  align-items: center
  position: relative
  margin: 0
  height: auto
  width: 100vw
  font:
    family: $font
    size: 14px
  color: $fontColor
  background: $backgroundColor

  button
    background: white
    border: none
    border-radius: 2px
    color: $fontColor
    letter-spacing: 2px
    font:
      family: $font
      size: 0.8em
    text-transform: uppercase
    transition: all 0.3s

    &:hover
      background: $mainOneDark
      color: white
      font-weight: 400
      box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2)

  button, input
    &:focus
      outline: none

  input
    text-transform: uppercase
    font:
      family: $font
      size: 0.8em
    padding: 5px

.settingsButton
  position: relative
  font-size: 1.5em
  width: 90vw
  display: grid
  grid-gap: 10px
  grid-row: 1
  background: $containerColor
  padding: 20px
  box-sizing: border-box

  button
    padding: 10px

.settings
  position: relative
  display: none
  font-size: 1.5em
  width: 90vw
  display: grid
  grid-row: 1
  grid-template-columns: repeat(5, 1fr)
  grid-gap: 10px
  background: $containerColor
  padding: 10px
  box-sizing: border-box

  input
    font-size: 0.8em

.close
  display: none

.open
  display: grid

.done0
  background-color: $mainOneDark
.done1
  background-color: $mainTwoDark

.done
  position: absolute
  width: 70vw
  height: 25vh
  z-index: 200
  color: white
  font-size: 2em
  vertical-align: center
  text-align: center
  text-transform: uppercase
  letter-spacing: 4px
  top: 60%
  left: 50%
  margin-left: -35vw
  display: grid
  justify-items: center
  align-items: center


.grid
  padding: 20px
  box-sizing: border-box
  display: grid
  grid-template-columns: repeat(2,1fr)
  width: 90vw
  height: 80vh
  background: $containerColor
  text-align: center
  text-transform: uppercase
  letter-spacing: 4px
  grid-row: 2

.player
  display: grid
  grid-template-rows: 1fr 2fr 1fr
  align-items: center
  position: relative
  transition: all 0.4s

  &.active, &.passive
    &:before
      position: absolute
      border-radius: 2px
      top: 7vh
      padding: 10px
      padding-left: 12px
      box-sizing: border-box
      color: white

  &.player0
    .name
      color: $mainOneDark
    .score
      color: $mainOneDark
    .current
      background: $mainOneDark
    &.active, &.passive
      background: $activeOne
      &:before
        background: $mainOneDark
        content: "1"
        left: 5vw


  &.player1
    .name
      color: $mainTwoDark
    .score
      color: $mainTwoDark
    .current
      background: $mainTwoDark
    &.active, &.passive
      background: $activeTwo
      &:before
        background: $mainTwoDark
        content: "2"
        right: 5vw

  .name
    font:
      size: 2.5em
      weight: 300

  .score
    font:
      size: 6em
      weight: 400

  .current
    width: 140px
    height: 90px
    padding: 20px
    justify-self: center
    box-sizing: border-box
    border-radius: 2px
    color: white
    & span
      font-size: 0.8em

  p.currentScore
    font-size: 2em
    margin: 10px


.menu
  position: absolute
  height: 80vh
  width: 20vw
  top: 50%
  margin-top: -40vh
  left: 50%
  margin-left: -10vw
  padding: 20px
  box-sizing: border-box
  display: grid
  grid-template-rows: 1fr 2fr 1fr 1fr
  justify-items: center
  align-items: center
  text-align: center
  font:
    size: 1.5em
    weight: 300
  text-transform: uppercase
  z-index: 100
  color: $fontColor

  &.menu0
    button
      &:hover
        background: $mainOneDark
        color: white
        font-weight: 400
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2)
    .dice
      &.one
        background: url('../img/player1/dice-01.svg')
      &.two
        background: url('../img/player1/dice-02.svg')
      &.three
        background: url('../img/player1/dice-03.svg')
      &.four
        background: url('../img/player1/dice-04.svg')
      &.five
        background: url('../img/player1/dice-05.svg')
      &.six
        background: url('../img/player1/dice-06.svg')

  &.menu1
    button
      &:hover
        background: $mainTwoDark
        color: white
        font-weight: 400
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2)
    .dice
      &.one
        background: url('../img/player2/dice-01.svg')
      &.two
        background: url('../img/player2/dice-02.svg')
      &.three
        background: url('../img/player2/dice-03.svg')
      &.four
        background: url('../img/player2/dice-04.svg')
      &.five
        background: url('../img/player2/dice-05.svg')
      &.six
        background: url('../img/player2/dice-06.svg')

  &:hover
    color: white

  .newGame
    padding: 10px
    box-sizing: border-box

  .dice
    height: 100px
    width: 100px
    background-color: white !important
    box-shadow: 0px 0px 10px 2px #bbb

  .rollDice
    padding: 10px
    box-sizing: border-box

  .hold
    padding: 10px
    box-sizing: border-box

#welcome,#approve
  position: fixed
  top: 5vw
  left: 5vw
  grid-row: 1
  font-size: 1.2em
  background: $containerColor
  box-shadow: 0px 0px 10px 2px #bbb
  text-align: center
  height: auto
  width: 90vw
  padding: 20px
  box-sizing: border-box
  z-index: 100

  button
    width: 100%
    height: 50px
    box-sizing: border-box
    margin-top: 20px

  h3,
  strong
    color: $mainOneDark

  span
    font-style: italic

@media ($res-small)
  body
    margin: 0
    grid-template-columns: 1fr
    grid-gap: 10px
    width: 100vw
    height: auto

  .settingsButton, .settings, .menu, .grid
    position: relative
    width: 100vw
    margin: 0
    top: 0
    left: 0

  .settingsButton,.settings
    grid-row: 3
    padding: 20px

  .settings
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(5, 1fr)

    input
      border: none
      -webkit-border: none
      border-radius: 0px
      -webkit-border-radius: 0px

    button
      padding: 10px

  .open
    display: grid
  .close
    display: none

  .menu
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr repeat(3, 0.5fr)
    grid-gap: 20px
    height: auto
    grid-row: 2
    font-size: 1em

    button
      height: 100%
      width: 100%

    .newGame
      grid-row: 4
      grid-column: span 2

    .dice
      grid-row: 1
      grid-column: span 2

    .rollDice
      grid-row: 2
      grid-column: 1

    .hold
      grid-row: 2
      grid-column: 2

  .grid
    height: auto
    grid-template-columns: 1fr
    grid-row: 1

  .player
    display: none
    grid-template-rows: repeat(3, 0.25fr)
    font-size: 0.7em
    padding: 20px
    transition: all 0.5s

    .current
      width: 50vw
      height: 10vh
      padding: 8px
      box-sizing: border-box

    &.passive
      display: grid
      grid-template-rows: 0.25fr
      grid-row: 1
      padding: 10px
      .name
        display: none
      .score
        display: grid
        font-size: 2.5em
      .current
        display: none

    &.active
      display: grid

    &.active, &.passive
      &:before
        width: 20px
        height: 20px
        top: 22px
        margin-left: -7.5px
        padding: 3px
        padding-left: 6.5px
        color: white
        font:
          size: 1.3em
          weight: 600
        text-align: center
        box-sizing: border-box

    &.passive
      &:before
        width: 15px
        height: 15px
        padding:
          left: 5px
          top: 2px
        font-size: 1em
        top: 15px


  .player0
    &.active, &.passive
      &:before
        content: "1"
        left: 5vw


  .player1
    &.active, &.passive
      &:before
        content: "2"
        right: 5vw

  .done
    height: 37vh
    width: 100vw
    left: 0
    margin-left: 0
    top: 38%
    font-size: 1em
