.animateDown {
  animation: down 1s ease-in-out forwards;
}

@keyframes down {
  0% {
    bottom: 5vw;
  }
  10% {
    bottom: 15vw;
  }
  35%,
  100% {
    bottom: -50vw;
  }
}

.animateUpSettings {
  animation: upSettings 0.5s ease-in-out forwards;
}

@keyframes upSettings {
  0% {
    top: 150vh;
  }
  100% {
    top: 0vh;
  }
}

.animateDownSettings {
  animation: downSettings 0.5s ease-in-out forwards;
}

@keyframes downSettings {
  0% {
    top: 0vh;
  }
  100% {
    top: 150vh;
  }
}

.animateOut {
  position: relative;
  animation: out 0.5s ease-in-out forwards;
}

@keyframes out {
  0% {
    left: 0vh;
    grid-row: auto;
  }
  99% {
    left: -100vw;
    grid-row: auto;
  }
  100% {
    grid-row: auto;
  }
}

.animateIn {
  position: relative;
  animation: in 0.5s ease-in-out forwards;
}

@keyframes in {
  0% {
    left: -100vw;
    grid-row: auto;
    visibility: 0;
  }
  99% {
    left: 0vh;
    grid-row: auto;
  }
  100% {
    grid-row: none;
    visibility: 100;
  }
}

.diffIn {
  position: relative;
  animation: diffIn 0.5s ease-in-out forwards;
}

@keyframes diffIn {
  0% {
    right: -110vw;
    grid-row: 2;
  }
  100% {
    right: 0vw;
    grid-row: 2;
  }
}

.diffOut {
  position: relative;
  animation: diffOut 0.5s ease-in-out forwards;
}

@keyframes diffOut {
  0% {
    right: 0vw;
  }
  100% {
    right: -110vw;
  }
}

.openMenu {
  animation: openMenu 0.4s ease-in-out forwards;
}

@keyframes openMenu {
  0% {
    bottom: -25vh;
  }
  40% {
    bottom: 5vh;
  }
  100% {
    bottom: 0vh;
  }
}

.closeMenu {
  animation: closeMenu 0.2s ease-in-out forwards;
}

@keyframes closeMenu {
  0% {
    bottom: 0vh;
  }
  100% {
    bottom: -25vh;
  }
}

@media (min-width: 420px) {
  body {
    width: 420px;
  }
}

html {
  background-color: white;
}

body {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  justify-items: center;
  align-items: center;
  position: relative;
  margin: auto;
  height: 100vh;
  overflow: hidden;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  color: #4d4d4d;
  background: #f7f7f7;
}

body h1,
body h2,
body h3,
body h4 {
  text-transform: uppercase;
}

body button, body a {
  background: white;
  border: none;
  border-radius: 2px;
  color: #4d4d4d;
  letter-spacing: 2px;
  font-family: "Helvetica", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  transition: all 0.3s;
}

body button:hover, body a:hover {
  background: #cc3700;
  color: white;
  font-weight: 400;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

body button:focus, body input:focus {
  outline: none;
}

body input {
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
  font-size: 0.8em;
}

.grid {
  width: 100%;
  height: auto;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr;
  align-self: start;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}

.grid .player0 {
  background: rgba(255, 69, 0, 0.15);
  color: #cc3700;
}

.grid .player0:before {
  content: "1";
  padding: 3px;
  background: #cc3700;
  color: white;
  position: absolute;
  border-radius: 1px;
  left: 20px;
  top: 20px;
  text-align: center;
}

.grid .player0 .current {
  background: #cc3700;
  color: white;
}

.grid .player1 {
  background: rgba(95, 158, 160, 0.15);
  color: #4c7e80;
}

.grid .player1:before {
  content: "2";
  padding: 3px;
  padding-left: 5px;
  background: #4c7e80;
  color: white;
  position: absolute;
  border-radius: 1px;
  right: 20px;
  top: 20px;
  text-align: center;
}

.grid .player1 .current {
  background: #4c7e80;
  color: white;
}

.grid .player {
  display: grid;
  position: relative;
  grid-template-rows: repeat(3, 0.25fr);
  font-size: 0.7em;
  padding: 20px;
  transition: all 0.3s;
  justify-items: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
}

.grid .player .name {
  font-size: 2.5em;
}

.grid .player .score {
  font-size: 6em;
  font-weight: 400;
}

.grid .player .current {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 10vh;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 400;
}

.grid .player .current span {
  font-size: 0.8em;
}

.grid .player .current p {
  font-size: 2em;
  margin: 0;
}

.grid .active {
  grid-row: 2;
}

.grid .passive {
  grid-row: 1;
}

.grid .passive .name, .grid .passive .current {
  display: none;
}

.grid .passive .score {
  font-size: 2em;
}

.dice {
  background-color: white !important;
  box-shadow: 0px 0px 10px 0px #bbb;
  width: 100px;
  height: 100px;
}

.dice.menu0.one {
  background: url("../img/player1/dice-01.svg");
}

.dice.menu0.two {
  background: url("../img/player1/dice-02.svg");
}

.dice.menu0.three {
  background: url("../img/player1/dice-03.svg");
}

.dice.menu0.four {
  background: url("../img/player1/dice-04.svg");
}

.dice.menu0.five {
  background: url("../img/player1/dice-05.svg");
}

.dice.menu0.six {
  background: url("../img/player1/dice-06.svg");
}

.dice.menu1.one {
  background: url("../img/player2/dice-01.svg");
}

.dice.menu1.two {
  background: url("../img/player2/dice-02.svg");
}

.dice.menu1.three {
  background: url("../img/player2/dice-03.svg");
}

.dice.menu1.four {
  background: url("../img/player2/dice-04.svg");
}

.dice.menu1.five {
  background: url("../img/player2/dice-05.svg");
}

.dice.menu1.six {
  background: url("../img/player2/dice-06.svg");
}

.settings, .settingsButton {
  position: absolute;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  background: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}

.settingsButton {
  height: 35vh;
  bottom: -35vh;
  grid-gap: 10px;
}

.settingsButton .menuButton {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #f2f2f2;
  top: -50px;
  left: 50%;
  margin-left: -25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.settingsButton .menuButton:before {
  content: "";
  display: block;
  position: relative;
  top: 10px;
  background: #4d4d4d;
  width: 30px;
  left: 50%;
  margin-left: -15px;
  height: 4px;
  border-radius: 5px;
  box-shadow: 0px 10px 0px 0px #4d4d4d;
}

.settingsButton .menuButton:after {
  content: "";
  display: block;
  position: relative;
  top: 27px;
  background: #4d4d4d;
  width: 30px;
  left: 50%;
  margin-left: -15px;
  height: 4px;
  border-radius: 5px;
}

.settingsButton a {
  display: grid;
  align-items: center;
  justify-items: center;
  text-decoration: none;
}

.settingsButton a p {
  margin: 0;
}

button, a, input, .gameMode {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
}

.settings {
  height: 100vh;
  bottom: -100vh;
  z-index: 1;
  grid-template-rows: repeat(2, 80px) 60px 80px repeat(2, 60px);
}

.settings .gameMode {
  padding: 0;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

.settings .gameMode .checkbox, .settings .gameMode .checked {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.settings .gameMode .checkbox {
  padding: 5px;
  background-color: white;
  border-radius: 0px;
}

.settings .gameMode .checked {
  position: relative;
  width: 40px;
  height: 40px;
}

.settings .gameMode .checked:before, .settings .gameMode .checked:after {
  content: "";
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
}

.settings .gameMode .checked:before {
  top: 0;
  left: 0;
  background: #f2f2f2;
}

.settings .gameMode .checked .i {
  position: absolute;
  transform: rotate(-45deg);
  transform-origin: top;
  bottom: 22px;
  left: 16px;
  background: #4d4d4d;
  height: 6px;
  width: 20px;
  margin: 0;
  padding: 0;
}

.settings .gameMode .checked .i:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 6px;
  left: -2px;
  width: 10px;
  height: 6px;
  transform: rotate(90deg);
  background: #4d4d4d;
}

.settings .gameMode .lable {
  padding: 20px;
  text-transform: uppercase;
}

.gameDiff {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-row: 2;
  width: 100%;
  height: 100%;
}

.gameDiff .easy, .gameDiff .medium, .gameDiff .hard {
  background: white;
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  display: grid;
  position: relative;
}

.gameDiff .easy p, .gameDiff .medium p, .gameDiff .hard p {
  justify-self: center;
  align-self: center;
}

.gameDiff .easy.checked, .gameDiff .medium.checked, .gameDiff .hard.checked {
  width: 100%;
  height: 100%;
  background: white;
}

.gameDiff .easy.checked:after, .gameDiff .medium.checked:after, .gameDiff .hard.checked:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  display: block;
  border-bottom: 5px solid #4d4d4d;
}

.banner {
  position: fixed;
  top: 5vh;
  left: 5vw;
}

#welcome {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: grid;
}

#welcome .tutorial {
  background: white;
  height: 45vh;
  padding: 20px;
  position: relative;
  font-size: 1.2em;
  box-shadow: 0px 0px 10px 0px #bbb;
  z-index: 1;
  display: grid;
  align-items: center;
}

#welcome .tutorial i {
  padding: 10px 15px;
  background: #f2f2f2;
  font-size: 1.1em;
  margin-right: 20px;
}

#welcome button {
  height: auto;
  width: auto;
}

.banner {
  position: fixed;
  top: 5vw;
  left: 5vw;
  grid-row: 1;
  font-size: 1.2em;
  background: #f2f2f2;
  box-shadow: 0px 0px 10px 2px #bbb;
  text-align: center;
  height: auto;
  width: 90vw;
  padding: 20px;
  box-sizing: border-box;
  z-index: 100;
}

.installBanner {
  bottom: 8vw;
  top: auto;
  font-size: 0.7rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.installBanner:after {
  content: "";
  width: 20px;
  height: 20px;
  background: #f2f2f2;
  box-shadow: 4px 4px 10px -2px #bbb;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
}

.installBanner .closeButton {
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px;
  box-sizing: border-box;
}

.installBanner .share {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-left: 10px;
  position: relative;
  top: 6px;
  background-image: url("../ico/share.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.installBanner .addToHomeScreen {
  font-weight: 600;
}

.done0 {
  background-color: #cc3700;
}

.done1 {
  background-color: #4c7e80;
}

.done {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: white;
  font-size: 1.2em;
  vertical-align: center;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  box-sizing: border-box;
  letter-spacing: 4px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.done button {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  margin-top: 20px;
}
